footer
  .container.text-center
    p.pull-left © 2014 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/wrldwidewouter/app-1') GitHub Project
      li
        a(href='https://github.com/wrldwidewouter/app-1/issues') Issues